/*Created by mayank */
li input{
	margin-top:6px;
}

input[type="text"]:focus, 
input[type="text"]:active, 
input[type="text"]:hover {
    background-color: #F7F7F7;
}

/*
.col1{ background:url(../i/bar.jpg) no-repeat top center; width:46px; text-align:center; height:30px; float:left;}
.col2{ background:url(../i/bar.jpg) no-repeat top center; width:263px; text-align:center; height:30px; float:left;}
.col3{ background:url(../i/bar.jpg) no-repeat top center; width:42px; text-align:center; height:30px; float:left;}
.col4{ background:url(../i/bar.jpg) no-repeat 132px 0px; width:158px; text-align:right; height:30px; float:left;}
.col5{ background:url(../i/bar.jpg) no-repeat 22px 0px; width:48px; margin-left:99px; text-align:right; height:30px; float:left;}


.col_1{ background:url(../i/bar.jpg) no-repeat top center; width:88px; text-align:center; height:30px; float:left;}
.col_2{ background:url(../i/bar.jpg) no-repeat top center; width:209px; text-align:center; height:30px; float:left;}
.col_3{ background:url(../i/bar.jpg) no-repeat top center; width:42px; text-align:center; height:30px; float:left; margin-left:23px;}
.col_4{ background:url(../i/bar.jpg) no-repeat 125px 0px; width:148px; text-align:right; height:30px; float:left;}
.col_5{ background:url(../i/bar.jpg) no-repeat 22px 0px; width:48px; margin-left:98px; text-align:right; height:30px; float:left;}
*/



.col1{ background:url(../i/bar.jpg) no-repeat top center; width:7%; text-align:center; height:30px; float:left;}
.col2{ background:url(../i/bar.jpg) no-repeat top center; width:39.5%; text-align:center; height:30px; float:left;}
.col3{ background:url(../i/bar.jpg) no-repeat top center; width:7.2%; text-align:center; height:30px; float:left;}
.col4{ background:url(../i/bar.jpg) no-repeat 132px 0px; width:39%; text-align:center; height:30px; float:left;}
.col5{ background:url(../i/bar.jpg) no-repeat 22px 0px; width:8%;  text-align:center; height:30px; float:left;}


.col_1{ background:url(../i/bar.jpg) no-repeat top center; width:88px; text-align:center; height:30px; float:left;}
.col_2{ background:url(../i/bar.jpg) no-repeat top center; width:209px; text-align:center; height:30px; float:left;}
.col_3{ background:url(../i/bar.jpg) no-repeat top center; width:42px; text-align:center; height:30px; float:left; margin-left:23px;}
.col_4{ background:url(../i/bar.jpg) no-repeat 125px 0px; width:148px; text-align:right; height:30px; float:left;}
.col_5{ background:url(../i/bar.jpg) no-repeat 22px 0px; width:48px; margin-left:98px; text-align:right; height:30px; float:left;}


.col1,.col2,.col3,.col4,.col5{
	width: 20%;
	text-align: center;
	background-position: center top;
}

h1#result, h1#p_result{
	float: none;
	position: relative;
	border-bottom: none;
	height: 55px;
}

.ui-slider-handle{
	-webkit-transition: none;
}

#amount:after {
	content: "";
	position: relative;
	top: 19px;
	height: 0px;
	margin: auto;
	border-style: solid;
	border-width: 20px 17px 0 17px;
	border-color: #f08c4c transparent transparent transparent;
	display: block;
	width: 0;
}
hr.calchr{margin: 0 0 18px!important; border: solid 1px #EAEAEA;}
.datashow{text-align:center;}
#amount,#amount-new{
	background: #5bc0de url(../i/calcPoint.svg) no-repeat center bottom;
	font-size: 1.25em;
	text-align: center;
	background-color: #5bc0de;
	color: #fff;
	border: none;
	letter-spacing: 0.1em;
	height: 27px;
	width: 80px;
	letter-spacing: 0.1em;
	margin-bottom: 5px;
	font-family: 'latoregular';
	
}
.navheight,.col-md-4{
	height: 42px;
	vertical-align: middle;

	font-family: 'latoregular';
}
.navheight{
	line-height: 40px;
}
.col-md-8 ul{
	height: 60px;
	font-family: 'latoregular';
	font-size: 0.850em;	
}
.col-md-3 h3 {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.col-md-3{
	text-align: right;
	float: right;
}
.col-md-3 > .blueButt{
	float: right;
}
.col-md-8.navheight{
	float: right;
width: 38%;
}
.calcDis{
	font-size: 0.750em;
	color: #AAAAAA;
	font-family: 'latolight_italic';
	letter-spacing: 0.05em;
}
.calcNo{
	margin-top: 14px;
	display: block;
	font-family: 'latoregular';	
	font-size: 0.850em;
}

select#myList, select#p_loan{
	border: 1px solid #5bc0de;
	background-color: #fff;
	-webkit-appearance: none;
	padding: 3px 9px;
	font-size: 0.750em;
	border-radius: 3px;
	cursor: pointer;
}

.ui-widget-header {
	border: none;
	background-color: #5bc0de;
	color: #222222;
	font-weight: bold;
}
.ui-widget-content {
	background: #5ac4e4;
	color: #222222;
/* 	width: 638px; */
	width: 100%;
}



/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .6em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -0.6em;
	margin-left: -12px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/


.ui-widget-content a {
	color: #222222;
}

.ui-widget-header a {
	color: #222222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
/* 	background: transparent url(../i/pointer.svg) center top no-repeat; */
/*
	height: 30px;
	width: 24px;
*/
	height: 25px;
	width: 25px;
	background-color: #5bc0de;
	border-radius: 100%;
	border: 2px solid #686868;
	
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-widget-content,
.ui-widget-header {
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #212121;
	text-decoration: none;
	opacity: 0.5;
}


