.cntr{margin: 0 auto;width: 100%;max-width: 640px;}
.calcCon{
	width: 100%;
	margin: 0 auto;

}


.col-md-12 {
	width:100%;
}

.col-md-11 {
	width:91.666666666667%;
}

.col-md-10 {
	width:100%;
}

/*
.col-md-9 {
		width:75%;
	}
*/
.col-md-9 {
	width:78%;
}

.col-md-8 {
	width:66.666666666667%;
}

.col-md-7 {
	width:58.333333333333%;
}

.col-md-6 {
	width:50%;
}

.col-md-5 {
	width:41.666666666667%;
}


.col-md-3 {
	width:20%;
}

.col-md-2 {
	width:16.666666666667%;
}

.col-md-1 {
	width:8.3333333333333%;
}	
}

.table {
	width:100%;
	margin-bottom:20px;
}

label {
	display:inline-block;
	margin-bottom:5px;
}

input[type="radio"],input[type="checkbox"] {
	margin:4px 0 0;
	margin-top:1px \9;
/* IE8-9 */
	line-height:normal;
}

select[multiple],select[size] {
	height:auto;
}

input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}

.radio,.checkbox {
	display:block;
	min-height:20px;
	margin-top:0;
	margin-bottom:0;
	vertical-align:middle;
	margin-top: 14px;
display: block;
font-family: 'latoregular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
font-size: .85em;
line-height: 22px;
text-align: center;
}

.radio label,.checkbox label {
	display:inline;
	margin-bottom:0;
	cursor:pointer;
}

.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"] {

display: block;
text-align: center;
margin: 6px auto;
-webkit-appearance: none;
width: 20px;
height: 20px;
border-radius: 100%;
border: 2px solid #F76543;
background-color: #fff;

}
.checkbox input[type="checkbox"]:checked{
	background-color: #F76543;
}

li input {
	margin-top:6px;
}

input[type="text"]:focus,input[type="text"]:active,input[type="text"]:hover {
	background-color:#F7F7F7;
}

.col1,.col2,.col3 {
	width:33%;
	text-align:center;
	height:40px;
	float:left;
}



h1#result {
	float:none;
	position:relative;
	border-bottom:none;
	height:55px;
	font-size: 3em;	
}

.ui-slider-handle {
	-webkit-transition:none;
}

.sidecar {
	position:absolute;
	top:-42px;
	left:-28px;
}

.ui-slider .ui-slider-handle:focus {
	outline:none;
}


#amount {
	font-size:1.8em;
	text-align:center;
	background-color:transparent;
	color:#3e3e3e;
	border:none;
	letter-spacing:.1em;
	height:27px;
	width:100%;
	letter-spacing:.1em;
	margin-bottom:5px;
	font-family:'archermedium';
}

.sidecar:after {
	content:"";
	position:relative;
	top:-6px;
	height:0;
	margin:auto;
	border-style:solid;
	border-width:7px 5px 0;
	border-color:#5bc0de transparent transparent;
	display:block;
	width:0;
}

.calcDis {
	font-size:.70em;
	color:#3e3e3e;
	font-family:'latolight_italic';
}

.calcNo {
	margin-top:14px;
	display:block;
	font-family:'latoregular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size:.85em;
}

select#myList,select#p_loan {
	border: 0px solid #418499;
	background-color: #FFF;
	-webkit-appearance: none;
/* 	padding: 7px 9px; */
padding: 7px 26%;
	font-size: .95em;
	border-radius: 3px;
	cursor: pointer;
	font-family: 'archermedium';
}

.ui-widget-header {
	border:none;
	background-color:#418499;
	color:#222;
	font-weight:700;
}

.ui-widget-content {
	background:#F76543;
	color:#222;
/* 	width: 638px; */
	width:100%;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner {
	border:0;
	padding:0;
}

.ui-slider {
	position:relative;
	text-align:left;
}

.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:1.2em;
	height:1.2em;
	cursor:default;
	cursor: pointer;
}

.ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
	background-position:0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,.ui-slider.ui-state-disabled .ui-slider-range {
	filter:inherit;
}

.ui-slider-horizontal {
	height:.2em;
}

.ui-slider-horizontal .ui-slider-handle {
	top:-.7em;
	margin-left:-12px;
}

.ui-slider-horizontal .ui-slider-range {
	top:0;
	height:100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left:0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right:0;
}

.ui-slider-vertical {
	width:.8em;
	height:100px;
}

.ui-slider-vertical .ui-slider-handle {
	left:-.3em;
	margin-left:0;
	margin-bottom:-.6em;
}

.ui-slider-vertical .ui-slider-range {
	left:0;
	width:100%;
}

.ui-slider-vertical .ui-slider-range-min {
	bottom:0;
}

.ui-slider-vertical .ui-slider-range-max {
	top:0;
}

.ui-tooltip {
	padding:8px;
	position:absolute;
	z-index:9999;
	max-width:300px;
	-webkit-box-shadow:0 0 5px #aaa;
	box-shadow:0 0 5px #aaa;
}

body .ui-tooltip {
	border-width:2px;
}

/* Component containers
----------------------------------*/
.ui-widget-content a {
	color:#222;
}

.ui-widget-header a {
	color:#222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
	height: 20px;
	width: 20px;
	background-color: #F76543;
	border-radius: 100%;
	border: 2px solid #F76543;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
	color:#555;
	text-decoration:none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-widget-content,.ui-widget-header {
	font-weight:400;
	color:#212121;
}

.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited {
	color:#212121;
	text-decoration:none;
	opacity:.5;
}



	
	
	.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
	
	

.col-md-9{ width:90%;margin: 0 auto;}
.navheight, .col-md-4{
	height: inherit;
}
	
	.col-md-6{
		margin: 10px 0;
	}
	
.container{
	position: relative;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11{
	float: none;
}

.c-repay{
	float: right;
width: 100%;
text-align: center;
}
.c-repay h3{
	font-size: 1.125em;
	font-family: 'archermedium';
	line-height: 1.35em;
	margin-bottom: 2%;
	text-transform: uppercase;
}

.c-insur{
		height: 50%;
		display: none;
}

.c-title{
	color:#000;
	font-family: 'archermedium';
	font-size: 0.850em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 6%;
}

ul.c-credI{
	list-style: none;
	padding: 0;
	margin: 0;
}

.c-loanY{
	width: 100%;
/* 	margin-bottom: 25%; */
}

select#myList{
/*
	 width: 80%;
	text-align: center;
	margin: 0 auto;
	display: block;
*/
margin: 0 auto;
display: block;
text-align: center;
	 
}

.c-left{/* float: left; */width:100%;}
.c-right{/* float: right; */width:100%;}

.c-right,.c-left{

	margin-top: 8%;

	
}
.calcDisCon{
	width: 80%;
	margin: 2% auto 0;
	text-align: center;
}

/*
.circle
    {
    width:120px;
    height:120px;
    border-radius:100%;
    text-align:center;
    border: 2px solid #418499;
		margin: 8px auto 30px;
    }
*/

.circle{
	width: 100%;
	text-align: center;
	margin: 8px auto 7%;
	padding: 3% 0;
}
