/*------------------------------------ 
	
	WEBSITE HANDCODED BY JANSBURY 
	www.jansbury.com
	
------------------------------------*/


/* ==========================================================================
  Just a font to the face
   ========================================================================== */
@font-face {
	font-family:'latolight';
	src:url(../f/lato-lig-webfont.eot);
	src:url(../f/lato-lig-webfont.eot?#iefix) format("embedded-opentype"),
			url(../f/lato-lig-webfont.svg#latolight) format("svg"),
			url(../f/lato-lig-webfont.woff) format("woff"),
			url(../f/lato-lig-webfont.ttf) format("truetype");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'latolight_italic';
	src:url(../f/lato-ligita-webfont.eot);
	src:url(../f/lato-ligita-webfont.eot?#iefix) format("embedded-opentype"),
			url(../f/lato-ligita-webfont.svg#latolight_italic) format("svg"),
			url(../f/lato-ligita-webfont.woff) format("woff"),
			url(../f/lato-ligita-webfont.ttf) format("truetype");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'latoregular';
	src:url(../f/lato-reg-webfont.eot);
	src:url(../f/lato-reg-webfont.eot?#iefix) format("embedded-opentype"),
			url(../f/lato-reg-webfont.svg#latoregular) format("svg"),
			url(../f/lato-reg-webfont.woff) format("woff"),
			url(../f/lato-reg-webfont.ttf) format("truetype");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'archermedium';
	src:url(../f/archer-medium-webfont-webfont.eot);
	src:url(../f/archer-medium-webfont-webfont.eot?#iefix) format("embedded-opentype"),
			url(../f/archer-medium-webfont-webfont.svg#archermedium) format("svg"),
			url(../f/archer-medium-webfont-webfont.woff) format("woff"),
			url(../f/archer-medium-webfont-webfont.ttf) format("truetype");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'dinmedium';
	src:url(../f/din-medium-webfont.eot);
	src:url(../f/din-medium-webfont.eot?#iefix) format("embedded-opentype"),
			url(../f/din-medium-webfont.svg#dinmedium) format("svg"),
			url(../f/din-medium-webfont.woff) format("woff"),
			url(../f/din-medium-webfont.ttf) format("truetype");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'dinregular';
	src:url(../f/din-regular-webfont.eot);
	src:url(../f/din-regular-webfont.eot?#iefix) format("embedded-opentype"),url(../f/din-regular-webfont.svg#dinregular) format("svg"),url(../f/din-regular-webfont.woff) format("woff"),url(../f/din-regular-webfont.ttf) format("truetype");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'din_light';
	src:url(../f/din_light-webfont.eot);
	src:url(../f/din_light-webfont.eot?#iefix) format("embedded-opentype"),
			url(../f/din_light-webfont.svg#din_lightregular) format("svg"),
			url(../f/din_light-webfont.woff) format("woff"),
			url(../f/din_light-webfont.ttf) format("truetype");
	font-weight:400;
	font-style:normal;
}

/* ==========================================================================
   Jansbury CSS Reset
   ========================================================================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

html,body {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img {
	border:0;
}

address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:400;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:400;
}

/* ==========================================================================
   Normals
   ========================================================================== */

* {
	margin:auto;
	padding:0;
	text-decoration:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
}

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

html[xmlns] .clearfix {
	display:block;
}

* html .clearfix {
	height:1%;
}

img {
	vertical-align:middle;
}

fieldset {
	border:0;
	margin:0;
	padding:0;
}

textarea {
	resize:vertical;
}

html {
	height:100%;
}

hr{
	border: 0;
	color: #009EBC;
	width: 30%;
	height: 1px;
	background-color: #009ebc;
	margin: 4px auto;
}


/* ==========================================================================
   Span Classes
   ========================================================================== */
.dinLight {
	font-family:'din_light';
}
.topSpace{
	
}
.headText{
	text-align: center;
font-family: 'dinmedium';
margin: 2% 0;
font-size: 0.850em;
	
}
.applyBut {
	height:36px;
	background-color:#009EBC;
	text-align:center;
	line-height:36px;
	color:#fff;
	font-size:1.15em;
	font-family:'latoregular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	margin:30px auto 14px;
	padding:1% 2%;
}

.blueButt a,.whiteButt a {
	color:#fff;
}

.applyBut.white {
	background-color:#fff;
	color:#3e3e3e!important;
}

body {
	background-color:#f7f7f7;
	color:#000;
	font-size:1em;
}

.cntr{margin: 0 auto;width: 100%;max-width: 640px;}
.contentCon{width: 95%; margin: 0 auto;}


h1 {
	font-family:'archermedium';
	font-size:1em;
	text-transform: uppercase;
}

h3 {
	font-size:1.125em;
	font-family:'dinmedium';
	line-height:1.35em;
	margin-bottom:20px;
}

p {
	font-family:'latolight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:.8em;
	margin-bottom:2%;
	line-height: 17px;
}

.p {
	font-family:'latoregular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size:.875em;
	margin:4% 0!important;
	display:block!important;
}

a {
	color:#000;
	text-decoration:none;
}

a:hover {
	color:#009ebc;
}

header {
	width:100%;
/* 	height:55px; */
	position:fixed;
	z-index:90;
	top:0;
}

.headerBkg {
	opacity:1;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	filter:alpha(opacity=90);
	-moz-opacity:.9;
	-o-opacity:.9;
	-ms-opacity:.9;
	-khtml-opacity:.9;
	opacity:.9;
	background-color:#fff;
	width:100%;
	height:55px;
	position:fixed;
	top:0;
}

.logo {
	width:240px;
	height:55px;
	float:left;
	position:relative;
	text-transform:uppercase;
	font-family:'dinmedium';
	color:#009ebc;
	font-size:.850em;
	height: 100%;
	margin-right: 6%;
}


.logo:hover {
	cursor:pointer;
}

.logoText {
	float:right;
	margin-top:22px;
}

.text{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	margin-top: 4%;
}

.pageTitle{
	margin: 0 auto;
	padding: 9% 0 5%;
	width: 60%;
	text-align: center;
}
.pageTitle.no{
	padding: 0;
}

.menuConCon{
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	filter:alpha(opacity=90);
	-moz-opacity:.9;
	-o-opacity:.9;
	-ms-opacity:.9;
	-khtml-opacity:.9;
	opacity:.9;
	background-color:#fff;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 0px;
	top:55px;
}
.menuCon{
	height: 210px;
	z-index: 4;
	top: 55px;
	width: 90%;
	opacity:0;
	display: none;
	max-width: 640px;
	margin: auto;
}

.main {
/*
	position:relative;
	top:20px;
	z-index:5;
	float: right;
	width: 40%;
*/
position: relative;
top: 20px;
z-index: 5;
float: left;
width: 40%;
padding-left: 6%;
}

.main ul {
	width:100%;
	padding:0;
}

.main li {
	margin:0 0 20px;
	font-family:'archermedium';	
	text-transform:uppercase;
	font-size:.85em;
}

.doit{
	font-family: 'archermedium';
	text-transform: uppercase;
	font-size: .85em;
	float: right;
	width: 50%;
	position: relative;
	top: 40px;
	z-index: 5;
}
.doit span{
	display: block;
	height: 20px;
	text-align: center;	
	line-height: 23px;
	margin: 13px 0;
	font-size: 1.3em;
}

.doit hr{
	width: 55%;
	max-width: 140px;
}

.menu-open{
	background: url(../i/menuSprite.svg) no-repeat 0px 0px;
	width: 56px;
	height: 56px;
	float: right;
	position: relative;
/* 	margin-right: 1%; */
	-webkit-transition: 250ms all ease-out;
  -moz-transition: 250ms all ease-out;
  -ms-transition: 250ms all ease-out;
  transition: 250ms all ease-out;
}

#section0,#section1,#section2,#section3{
/* 	min-height: 500px; */
height: 100%;

}

/* home/welcome */
#section0 {
	background-color:#f7f7f7;
}

.welcomeBkg{
	/*
width: 100%;
	background:url(../i/headerMob.jpg) no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	position:relative;
*/
margin-bottom: 20px;
}

.welcomeBkg img{
	width: 100%;
	position: relative;
}
.welcomeTxt{
	margin-left: 4%;
	position: absolute;
	font-size: 0.850em;
	text-transform: uppercase;
	font-family: 'dinregular';

	top:70px;
	width:250px;
}
.welcomeTxt span{
	font-family: 'dinmedium';
}
.calcCon{
/* 	height: 500px; */
	margin-top: 2%;
}


/* carloan */
#section1 {
	background-color:#e5e5e5;
}

/* personal */
#section2 {
	background:#9adee8;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5YWRlZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzRiNGM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-radial-gradient(center,ellipse cover,#9adee8 0%,#74b4c8 100%);
/* FF3.6+ */
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#9adee8),color-stop(100%,#74b4c8));
/* Chrome,Safari4+ */
	background:-webkit-radial-gradient(center,ellipse cover,#9adee8 0%,#74b4c8 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(center,ellipse cover,#9adee8 0%,#74b4c8 100%);
/* Opera 12+ */
	background:-ms-radial-gradient(center,ellipse cover,#9adee8 0%,#74b4c8 100%);
/* IE10+ */
	background:radial-gradient(ellipse at center,#9adee8 0%,#74b4c8 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9adee8',endColorstr='#74b4c8',GradientType=1);
/* IE6-8 fallback on horizontal gradient */
}

.white{
	color: #ffffff !important;
	
}
.white p {
	font-family: 'latoregular';
}

.processCon{
text-align: center;
	
}
.processCon img{
	margin: 4% auto;
	width: 90%;
}
/* contact */
#section3 {
	background-color:#f7f7f7;
}

ul.contactInfo{
	text-align: center;
}

ul.contactInfo li{
	margin: 4% 0;
	font-family: 'latolight';
	font-size: 0.850em;
}

ul.contactInfo li span{
	font-family: 'archermedium';
	margin-right: 1%;
	font-size: 1em;
	font-style: italic !important;
}

ul.contactInfo li a{
	color: #000;
}

ul.downloads{
	text-align: center;
	margin: 9% 0;
}

ul.downloads li{
	margin: 6px 0;
	font-family: 'latolight_italic';
	font-size: 0.750em;
}

ul.downloads li a{
	color: #000;
}


nav.socialIcons{
	text-align: center;
	margin: 1% 0;
}

nav.socialIcons li{
	margin: 6px 0;
	font-family: 'latolight_italic';
	font-size: 0.750em;
	display: inline-block;
}

.facebook {
	background:url(../i/social.svg) no-repeat -9px -5px;
}

.twitter {
	background:url(../i/social.svg) no-repeat -59px -6px;
}

.google {
	background:url(../i/social.svg) no-repeat -110px -5px;
}

.facebook,.twitter,.google {
	opacity:1;
	height: 40px;
	text-indent:-9999px;
	width:40px;
}

footer{
	height: 40px;
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	margin-top: 20px;
}
footer div{
	text-transform: uppercase;
	text-align: center;
	line-height: 43px;
	letter-spacing: 1px;
	height: 100%;
	font-size:0.850em;
	font-family: 'archermedium';
}
footer .left{
	float: left;
	width: 49%;
	border-right: 2px solid #f7f7f7;
}
footer .right{
	float: right;
	width: 50%;
	border-left: 2px solid #f7f7f7;
}

.onlineText{
	text-align: left;
	font-family: 'dinmedium';
	margin: 4% 0 2%;
	font-size: 0.850em;
	text-transform: uppercase;
	display: block;
	width: 80%;
}

.respon{
	margin: 0 auto;
	width: 70%;
	text-align: center;
	margin-top: 4%;
}


.popUp{
	max-width: 640px; 
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.99;
	background-color: #FFF;
	overflow: scroll;
	z-index: 90;
	display: none;
}

.applyCon{
	height: 100%;
	width: 96%;
	z-index: 100;
	position: relative;
	overflow: scroll;
	margin: 0 auto;
}
span.close{
	background: url(../i/close.svg) no-repeat center center;
	z-index: 101;
	width: 56px;
	height: 56px;
	position: absolute;
	right: 0;
}


/* FORM */

#dealerForm {
	max-width:100%;
	position: relative;
	font-family: 'archermedium';
	margin-bottom: 10%;
}


#d-Fname{
	width: 49%;
	float: left;
	
} 
#d-Lname{
width: 49%;
	float: right;
}

p.d-question {
	font-family:'archermedium';
	font-size:.85em;
	color:#000;
	margin:0;
	padding: 2% 0 1.8%;
}

form#dealerForm input.radiobutton {
	-webkit-appearance: none;
	border: none;
	background-color: #009EBC;
	color: #FFF;
	font-size: 1.125em;
	width: 100%;
	height: 44px;
	font-family: 'archermedium';
	margin: 5px auto 14px;
	border-radius:0;
}
form#dealerForm div{height: 100%;}

input.formtext,textarea {
	font-family:'archermedium';
	font-size:.85em;
	border:none;
	background-color:#f7f7f7;
	width:100%;
	height:32px;
	padding:0 9px;
	color:#000;
	margin:1% 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border-radius: 0;
}

#message {
	padding-top:4px;
	width:100%;
	height:141px;
}

#status {
	color:#f86443;
	font-family:'latoregular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size:.85em;
}

.thank{
	color: #000;
}

.hidden {
	display:none!important;
	visibility:hidden;
}

.questions{
	font-family: 'archermedium';
	font-size: .85em;
	
	}
/* .yandn{float: right;text-align: right;font-size: 0.750em;} */

.loanType{	font-size: .85em;
	background-color: #F7F7F7;
	width: 100%;
	padding: 9px;
	color: #000;
	margin: 1% 0;
	box-sizing: border-box;
	border-radius: 0;
}

.yandn{
	margin: 10px 0;
}

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { 
	display: block; 
}

.cb-enable span,.cb-disable span {padding-left:30px;line-height: 23px;font-size: 0.850em; }

.switch input { display: none; }
.budge{
	margin: 10px 0 0 0;
}

input[type="date"] {
	-webkit-appearance: none;
}


input[type="radio"] {
   position:absolute;
   opacity: 0;
   -moz-opacity: 0;
   -webkit-opacity: 0;
   -o-opacity: 0;
}
input[type="radio"] + label {
   position:relative;
   padding: 0 25px 0 25px;
}
input[type="radio"] + label:before {
   content:"";
   display:block;
   position:absolute;
   top:2px;
   height: 14px;
   width: 14px;
   background: white;
   border: 1px solid gray;
   box-shadow: inset 0px 0px 0px 2px white;
   -webkit-box-shadow: inset 0px 0px 0px 2px white;
   -moz-box-shadow: inset 0px 0px 0px 2px white;
   -o-box-shadow: inset 0px 0px 0px 2px white;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -o-border-radius: 8px;
}
input[type="radio"]:checked + label:before {
   background: #F76543;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
	background-color:transparent;
	border:0;
	overflow:hidden;
	*text-indent:-9999px;
}

.ir:before {
	content:"";
	display:block;
	width:0;
	height:150%;
}

.hidden {
	display:none!important;
	visibility:hidden;
}

.visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto;
}

.invisible {
	visibility:hidden;
}

.clearfix:before,.clearfix:after {
	content:" ";
	display:table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	*zoom:1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
	* {
		background:transparent!important;
		color:#000!important;
	/* Black prints faster: h5bp.com/s */
		box-shadow:none!important;
		text-shadow:none!important;
	}
	
	a,a:visited {
		text-decoration:underline;
	}
	
	a[href]:after {
		content:" (" attr(href) ")";
	}
	
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	
	/*
	     * Don't show links for images, or javascript/internal links
	     */
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content:"";
	}
	
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	
	thead {
		display:table-header-group;
	/* h5bp.com/t */
	}
	
	tr,img {
		page-break-inside:avoid;
	}
	
	img {
		max-width:100%!important;
	}
	
	@page {
		margin:.5cm;
	}
	
	p,h2,h3 {
		orphans:3;
		widows:3;
	}
	
	h2,h3 {
		page-break-after:avoid;
	}
}